<template>
  <div>
    <Home />
    <Skills />
    <!-- <iframe
      src="https://storage.googleapis.com/data_7590/AbhishekDhanasetty_DS.pdf"
      width="900"
      height="1150"
      seamless
      type="application/pdf"
    ></iframe> -->
  </div>
</template>

<script>
import Home from "@/components/home.vue";
import Skills from "@/components/skills-v2.vue";
// import Interests from "@/components/interests.vue";
export default {
  // name: "Home",
  components: {
    // NavBar,
    Home,
    Skills
    // Interests
  }
};
</script>
<style lang="scss" scoped></style>
