<template>
  <div>
    <NavBar />
  </div>
</template>

<script>
import NavBar from "@/components/navbar.vue";

export default {
  name: "NavBar",
  components: {
    NavBar
  }
};
</script>

<style lang="scss" scoped></style>
