<template>
  <div role="tablist">
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-1 variant="info"
          >Credit card fraud detection - Using Logistic Regression and Isolation
          Forest</b-button
        >
      </b-card-header>
      <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text
            ><iframe
              class="responsive-iframe"
              src="https://storage.googleapis.com/data_7590/fraud_detection.html"
              style="border:none;"
              height="900"
              width="100%"
            ></iframe
          ></b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-2 variant="info"
          >Crontab UI</b-button
        >
      </b-card-header>
      <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text
            ><iframe
              class="responsive-iframe"
              src="https://dhanasettyabhishek.gitlab.io/cron/"
              style="border:none;"
              height="900"
              width="100%"
            ></iframe
          ></b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-3 variant="info"
          >Web Gallery using Vue.JS</b-button
        >
      </b-card-header>
      <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text
            ><iframe
              class="responsive-iframe"
              src="https://dhanasettyabhishek.gitlab.io/web_gallery_vue/"
              style="border:none;"
              height="900"
              width="100%"
            ></iframe
          ></b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-4 variant="info"
          >House Price Prediction using Linear Regression</b-button
        >
      </b-card-header>
      <b-collapse
        id="accordion-4"
        accordion="my-accordion"
        role="tabpanel"
        visible
      >
        <b-card-body>
          <b-card-text
            ><iframe
              class="responsive-iframe"
              src="https://storage.googleapis.com/data_7590/Linear%20Regression.html"
              style="border:none;"
              height="900"
              width="100%"
            ></iframe
          ></b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
$loading_color: rgb(55, 155, 236);
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-info {
  background-color: $loading_color;
  border-color: lighten($loading_color, $amount: 10);
}
</style>
