<template>
  <div>
    <iframe
      src="https://storage.googleapis.com/data_7590/Abhishek.pdf"
      width="900"
      height="1150"
      seamless
      type="application/pdf"
    ></iframe>

    <!-- <embed
      src="https://storage.cloud.google.com/data_7590/AbhishekDhanasetty_2020_DS.pdf"
      width="500"
      height="375"
      type="application/pdf"
    /> -->
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
