<template>
  <div>
    <b-container fluid="lg">
      <div>
        <b-jumbotron text-variant="dark" border-variant="dark" class="class1">
          <template v-slot:header><h1>Abhishek Dhanasetty</h1></template>

          <template v-slot:lead>
            <div class="mb-3">
              <b-icon icon="person-lines-fill"></b-icon
              >&nbsp;dhanasak18@gmail.com
            </div>
            <!-- <div class="mb-3">
              <pre><LogoLinkedinIcon /><LogoGithubIcon /></pre>
            </div> -->
          </template>
        </b-jumbotron>
      </div>
    </b-container>
  </div>
</template>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script>
import LogoLinkedinIcon from "vue-ionicons/dist/logo-linkedin.vue";
import LogoGithubIcon from "vue-ionicons/dist/logo-github.vue";
export default {
  components: {
    LogoLinkedinIcon,
    LogoGithubIcon
  }
};
</script>

<style lang="scss" scoped>
$loading-color: rgb(255, 255, 255);
.jumbotron {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: black;
  background-color: $loading-color !important;
}
.class1 {
  color: black;
}
</style>
