<template>
  <main id="app">
    <h1>Interests</h1>
    <ul>
      <li v-for="(skill, i) in interests" :key="i">
        <h4>{{ skill.area }}</h4>
        <label>{{ skill.value }}</label>
      </li>
    </ul>
  </main>
</template>

<script>
export default {
  el: "#app",
  data: function() {
    return {
      interests: [
        {
          area: "Programming",
          value:
            "Programming"
        },
        {
          area: "Research",
          value:
            "Research"
        },
        {
          area: "Data Science",
          value:
            "Data Science"
        },
        {
          area: "Web Development",
          value:
            "Web Development"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Montserrat");
$font-stack: Montserrat, sans-serif;
$font-color: rgb(255, 255, 255);
$bg-color: #d5d5d5;
$gray-color: #696969;
$loading-color: rgb(55, 155, 236);

body {
  /*background: $bg-color;*/
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  color: $font-color;
}
main {
  position: absolute;
  top: 50%;
  left: 62.5%;
  transform: translate(-50%, -50%);
  width: 750px;
}
h1 {
  color: darken($gray-color, 25%);
}
h4 {
  color: darken($gray-color, 25%);
}
li {
  margin: 0.5em 0 0.5em;
  border: 0.1em solid darken($loading-color, 25%);
  border-radius: 3px;
  background: lighten($loading-color, 25%);
  list-style: none;
  overflow: hidden;
  div {
    position: absolute;
    height: 1.4em;
    background: $loading-color;
    font-size: 1.2em;
    label:first-child {
      position: absolute;
      left: 8px;
    }
    label:last-child {
      position: absolute;
      right: 8px;
    }
  }
}
</style>
