<template>
  <div>
    <b-navbar type="dark" variant="info">
      <b-navbar-nav style="align:center;">
        <b-nav-item href="/#/home"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="black"
            width="24px"
            height="24px"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z" /></svg
          >&nbsp;Home</b-nav-item
        ><b-nav-item href="/#/projects"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <rect fill="none" height="24" width="24" />
            <path
              d="M19,5h-2V3H7v2H5C3.9,5,3,5.9,3,7v1c0,2.55,1.92,4.63,4.39,4.94c0.63,1.5,1.98,2.63,3.61,2.96V19H7v2h10v-2h-4v-3.1 c1.63-0.33,2.98-1.46,3.61-2.96C19.08,12.63,21,10.55,21,8V7C21,5.9,20.1,5,19,5z M5,8V7h2v3.82C5.84,10.4,5,9.3,5,8z M19,8 c0,1.3-0.84,2.4-2,2.82V7h2V8z"
            /></svg
          >&nbsp;Projects</b-nav-item
        ><b-nav-item href="/#/caseStudy"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-5h2v5zm4 0h-2v-3h2v3zm0-5h-2v-2h2v2zm4 5h-2V7h2v10z"
            /></svg
          >&nbsp;Case Studies</b-nav-item
        >
        <b-nav-item
          href="https://knowyournutrition.herokuapp.com/"
          target="_blank"
          ><img
            height="20"
            width="20"
            src="https://storage.googleapis.com/data_7590/healthy.ico"
          />&nbsp;KnowYourNutrition</b-nav-item
        >
        <b-nav-item href="/#/resume"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M14 2H4v20h16V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
            /></svg
          >&nbsp;Resume</b-nav-item
        >
        <!-- <b-nav-item
          href="https://drive.google.com/file/d/1R44olKa4pGXe2ZqhvmrFpzlvLqWGsIAl/view?usp=sharing"
          target="_blank"
          >Resume</b-nav-item
        > -->
        <b-nav-item
          href="https://www.linkedin.com/in/dhanasettyabhishek/"
          target="_blank"
          ><img
            height="20"
            width="20"
            src="https://cdn.jsdelivr.net/npm/simple-icons@v2/icons/linkedin.svg"
          />&nbsp;LinkedIn</b-nav-item
        >
        <b-nav-item href="https://github.com/dhanasettyabhishek" target="_blank"
          ><img
            height="24"
            width="24"
            src="https://cdn.jsdelivr.net/npm/simple-icons@v2/icons/github.svg"
          />&nbsp;Github</b-nav-item
        >
        <b-nav-item href="https://gitlab.com/dhanasettyabhishek" target="_blank"
          ><img
            height="24"
            width="24"
            src="https://cdn.jsdelivr.net/npm/simple-icons@v2/icons/gitlab.svg"
          />&nbsp;Gitlab</b-nav-item
        >
        <b-nav-item
          href="https://www.kaggle.com/dhanasettyabhishek"
          target="_blank"
          ><img
            height="24"
            width="24"
            src="https://cdn.jsdelivr.net/npm/simple-icons@v2/icons/kaggle.svg"
          />&nbsp;Kaggle</b-nav-item
        >
        <b-nav-item
          href="https://leetcode.com/dhanasettyabhishek/"
          target="_blank"
          ><img
            height="24"
            width="24"
            src="https://cdn.jsdelivr.net/npm/simple-icons@v2/icons/leetcode.svg"
          />&nbsp;LeetCode</b-nav-item
        >
        <b-nav-item v-b-toggle.sidebar-right
          >Sidebar&nbsp;<svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M6.99 11L3 15l3.99 4v-3H14v-2H6.99v-3zM21 9l-3.99-4v3H10v2h7.01v3L21 9z"
            /></svg
        ></b-nav-item>
        <b-sidebar id="sidebar-right" title="Abhishek Dhanasetty" right shadow>
          <div class="px-3 py-2">
            <b-img src="../assets/IMG_3534.jpg" fluid thumbnail></b-img>
            <p>
              <IosMailIcon
                w="25px"
                h="25px"
                animate="beat"
              />&nbsp;dhanasak18@gmail.com <br />
              <MdCallIcon
                w="25px"
                h="25px"
                animate="beat"
              />&nbsp;+1(513)328-4618 <br />
              <MdHomeIcon w="25px" h="25px" animate="beat" />&nbsp;Chicago, IL 60656 <br />
            </p>
          </div>
        </b-sidebar>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
// import MdHomeIcon from "vue-ionicons/dist/md-home.vue";
import MdCallIcon from "vue-ionicons/dist/md-call.vue";
import IosMailIcon from "vue-ionicons/dist/ios-mail.vue";
import MdHomeIcon from "vue-ionicons/dist/md-home.vue";
// import LogoLinkedinIcon from "vue-ionicons/dist/logo-linkedin.vue";
// import LogoGithubIcon from "vue-ionicons/dist/logo-github.vue";
// import MdGitBranchIcon from "vue-ionicons/dist/md-git-branch.vue";
// import MdTrophyIcon from "vue-ionicons/dist/md-trophy.vue";
// import MdPersonIcon from "vue-ionicons/dist/md-person.vue";
// import MdArrowRoundBackIcon from "vue-ionicons/dist/md-arrow-round-forward.vue";
export default {
  components: {
    MdCallIcon,
    IosMailIcon,
    MdHomeIcon
  }
};
</script>

<style lang="scss" scoped>
$loading-color: #abd5f7;
@import "~vue-ionicons/ionicons.scss";
.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
}
.bg-info {
  background-color: $loading-color !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}
</style>
