<template>
  <div>
    <pdf src="...../public/AbhishekDhanasetty.pdf"></pdf>
    <!-- <div> -->
    <!-- <embed
      src="../assets/AbhishekDhanasetty2020.pdf"
      width="500"
      height="375"
    /> -->
    <!-- <object
      data=".../public/assets/AbhishekDhanasetty2020.pdf"
      type="application/x-pdf"
      title="SamplePdf"
      width="500"
      height="720"
    >
    </object> -->
  </div>
</template>

<script>
import pdf from "vue-pdf";

export default {
  components: {
    pdf
  }
};
</script>

<style lang="scss" scoped></style>
