<template>
  <main id="app">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1>Skillset</h1>
    <ul>
      <li v-for="(skill, i) in skillSet" :key="i">
        <div :style="{ width: skill.initLevel + '%' }">
          <label>{{ skill.area }}</label>
          <label>{{ skill.initLevel + "%" }}</label>
        </div>
      </li>
    </ul>
  </main>
</template>

<script>
export default {
  el: "#app",
  data: function() {
    return {
      intervalID: "",
      increment: 1,
      interests: [
        {
          area: "Programming",
          value:
            "Programming"
        },
        {
          area: "Research",
          value:
            "Research"
        },
        {
          area: "Data Science",
          value:
            "Data Science"
        },
        {
          area: "Web Development",
          value:
            "Web Development"
        }
      ],
      skillSet: [
        { area: "Python", initLevel: 0, level: 100 },
        { area: "SQL", initLevel: 0, level: 85 },
        { area: "PySpark", initLevel: 0, level: 80 },
        { area: "Java", initLevel: 0, level: 80 },
        { area: "GIT, AWS", initLevel: 0, level: 80 },
        { area: "Javascript", initLevel: 0, level: 80 },
        { area: "Vue.js", initLevel: 0, level: 75 },
        { area: "HTML5", initLevel: 0, level: 90 },
        { area: "CSS3", initLevel: 0, level: 80 },
        { area: "C/C++", initLevel: 0, level: 70 }
      ]
    };
  },
  mounted: function() {
    this.intervalID = setInterval(() => {
      this.getLevelProgress(this.increment);
    }, 10);
  },
  methods: {
    getLevelProgress: function(value) {
      this.skillSet.forEach(data => {
        data.initLevel = Math.min(
          Math.floor(data.initLevel + value),
          data.level
        );
      });
    }
  },
  beforeDestroy: function() {
    clearInterval(this.intervalID);
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Montserrat");
$font-stack: Montserrat, sans-serif;
$font-color: rgb(0, 0, 0);
$bg-color: #d5d5d5;
$gray-color: #696969;
$loading-color: rgb(55, 155, 236);

body {
  /*background: $bg-color;*/
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  color: $font-color;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}
h1 {
  color: darken($gray-color, 25%);
}
li {
  margin: 0.5em 0 0.5em;
  border: 0.1em solid darken($loading-color, 25%);
  border-radius: 3px;
  background: lighten($loading-color, 25%);
  list-style: none;
  overflow: hidden;
  div {
    position: relative;
    height: 1.4em;
    background: $loading-color;
    font-size: 1.2em;
    label:first-child {
      position: absolute;
      left: 8px;
    }
    label:last-child {
      position: absolute;
      right: 8px;
    }
  }
}
</style>
