/* eslint-disable prettier */
<template>
  <div id="app">
    <b-container class="bv-example-row">
      <b-row>
        <b-col cols="2" md="4">
          <h1>Skillset</h1>
          <ul>
            <li v-for="(skill, i) in skillSet" :key="i">
              <div :style="{ width: skill.initLevel + '%' }">
                <label>{{ skill.area }}</label>
                <label>{{ skill.initLevel + "%" }}</label>
              </div>
            </li>
          </ul>
          <!-- <h1>Data Science Skills</h1>
          <ul>
            <li v-for="(skill, i) in DataScienceInterests" :key="i">
              <label
                style="text-align: left;padding-top: 2px;padding-left: 8px;"
                >{{ skill.value }}</label
              >
            </li>
          </ul>-->
        </b-col>
        <!-- <b-col cols="2" md="8"
          ><h1>Interests</h1>
          <ul>
            <li v-for="(skill, i) in interests" :key="i">
              <h4 style="text-align: left;padding-top: 2px;padding-left: 8px;">
                {{ skill.area }}
              </h4>
              <label
                style="text-align: left;padding-top: 2px;padding-left: 8px;"
                >{{ skill.value }}</label
              >
            </li>
          </ul></b-col
        >-->
        <b-col cols="2" md="8">
          <h1>About Me:</h1>
          <ul>
            <li v-for="(skill, i) in about_me" :key="i">
              <label
                style="text-align: left;padding-top: 2px;padding-left: 8px;"
                >{{ skill.value1 }}</label
              >
              <label
                style="text-align: left;padding-top: 2px;padding-left: 8px;"
                >{{ skill.value2 }}</label
              >
              <label
                style="text-align: left;padding-top: 2px;padding-left: 8px;"
                >{{ skill.value3 }}</label
              >
              <label
                style="text-align: left;padding-top: 2px;padding-left: 8px;"
                >{{ skill.value4 }}</label
              >
            </li>
          </ul>
        </b-col>
      </b-row>
    </b-container>
    <hr />
    <b-container fluid="lg">
      <h1>Certifications:</h1>
      <b-row>
        <b-col>
          <a
            href="https://www.youracclaim.com/badges/a6598bb0-4855-4b74-b480-beef399ba8f8"
            target="_blank"
          >
            <b-img
              thumbnail
              fluid
              src="https://images.youracclaim.com/size/680x680/images/8271b3d7-090a-42ec-9b84-d4f845698abd/Oracle-Certification-badge_OC-Professional600X600.png"
              alt="Oracle"
              width="250"
              height="250"
            ></b-img>
          </a>
          <h6>Oracle Certified Professional, Java SE 6 Programmer</h6>
        </b-col>
        <b-col>
          <a
            href="https://www.youracclaim.com/badges/63247347-e87f-4502-b891-e7463534a6bb/linked_in"
            target="_blank"
          >
            <b-img
              thumbnail
              fluid
              src="https://images.youracclaim.com/size/680x680/images/d3d687ea-c3a8-43c8-96bb-704658c71a4a/Fundamentals%2Bof%2BScalable%2BData%2BScience.png"
              alt="DS"
              width="250"
              height="250"
            ></b-img>
          </a>
          <h6>Fundamentals of Scalable Data Science</h6>
        </b-col>
        <b-col>
          <a
            href="https://www.youracclaim.com/earner/earned/badge/307a374f-4490-4bde-baa6-7af502fead01"
            target="_blank"
          >
            <b-img
              thumbnail
              fluid
              src="https://images.youracclaim.com/size/680x680/images/007afae6-2754-4a7c-9c44-e95c64c93656/IBM%2BWatson%2BIoT-%2BAdvanced%2BMachine%2BLearning%2Band%2BSignal%2BProcessing.png"
              alt="Oracle"
              width="250"
              height="250"
            ></b-img>
          </a>
          <h6>Advanced Machine Learning and Signal Processing</h6>
        </b-col>
      </b-row>
      <br />
      <hr />
      <b-row>
        <b-col>
          <a
            href="https://www.youracclaim.com/earner/earned/badge/db6253c0-fb66-47ec-928c-cd722ca4f2e0"
            target="_blank"
          >
            <b-img
              thumbnail
              fluid
              src="https://images.youracclaim.com/size/680x680/images/c2cc3091-c033-40c0-9cfc-2d5d78a3fa30/Applied%2BAI%2Bwith%2BDeep%2BLearning.png"
              alt="IBM"
              width="250"
              height="250"
            ></b-img>
          </a>
          <h6>Applied AI with DeepLearning</h6>
        </b-col>
      </b-row>
    </b-container>
    <hr />
    <div>
      <h4>Thesis work</h4>
      <b-row>
        <b-col>
          <b-img
            thumbnail
            fluid
            src="../assets/Picture_ONE.png"
            alt="Thesis"
            width="400"
            height="400"
          ></b-img>
          <h6>Sample Dataset</h6>
        </b-col>
        <b-col>
          <b-img
            thumbnail
            fluid
            src="../assets/Picture_GIF.gif"
            alt="Thesis"
            width="600"
            height="600"
          ></b-img>
          <h6>Maximalal Cliques and Approximate Maximal Cliques.</h6>
        </b-col> </b-row
      >Networks are not completely analyzed or explored in most cases, so we
      consider all estimated maximum cliques in our research that follow clear
      criteria. A sub-graph is an Approximate Maximum Clique (AMC) if each node
      can communicate with almost every other node directly.
    </div>
    <hr />
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      intervalID: "",
      increment: 1,
      about_me: [
        {
          area: "Programming",
          value1:
            "My Master of Science degree in Computer Science, along with my graduate certificate in Data Science from the University of Cincinnati, gave me plenty of opportunities to gather and work with different kinds of datasets.",
          value2:
            "For the last two years, I have been doing research on analyzing datasets in a distributed framework. I implemented the A-star algorithm ( Metaheuristic search algorithm) to find all the strongly connected components of any network. I successfully implemented the algorithm to work on a Hadoop cluster using Spark. This algorithm can help achieve valuable insights in the fields of medical analysis, e-commerce, and social networking.",
          value3:
            "As a Data Scientist at Foxconn Industrial Internet, my project was to compare different Machine Learning algorithms and find the best model to detect anomalous data points in a multidimensional dataset with 97% accuracy. The main goal of this project is to achieve zero downtime of a machine in the industry. Another major project was to use of Reinforcement Learning and Genetic algorithm to build a job-shop scheduling algorithm to perform simultaneous tasks. In conclusion, the Genetic algorithm is the optimal solution to minimize the idle time of the machines.",
            // "As a Full Stack Developer at Foxconn Industrial Internet, Built an online tool to help us check nutrient values for multiple food items knowyournutrition.app Used Python for preprocessing the data from USDA and visualized the nutrient values using Plotly. Used Python – RESTful APIs to access and load the data into the SQLite database. Developed the website using Flask, Bootstrap, JavaScript, jQuery, and hosted it on AWS. Involved in the entire lifecycle of the project, including Development, Testing, and Deployment",
          value4:
            "In addition to my experience, I am detail-oriented, organized, and precise in my work, please refer to my resume for additional information. Thank you for checking my portfolio. Let's connect on LinkedIn"
        }
      ],
      interests: [
        {
          area: "Programming",
          value:
            "I love to code, particularly in Python, that's because I get the feeling that anything is possible when I start coding. I have also analyzed a few data sets, and I get the impression that data preprocessing, model building, and visualization can be done quickly in Python."
        },
        {
          area: "Research",
          value:
            "I worked with a network dataset to identify all of the strongly connected components In a distributed framework using Spark and Hadoop.  I could list all the components that were higher than a particular threshold value. I just enjoy working on Kaggle data mining datasets and working on analyzing datasets because I know there's more to learn every day."
        },
        {
          area: "Data Science",
          value:
            "The pipeline I would like to do with my background in Data Science is Data Preprocessing, Model Selection and Visualize the results, bearing in mind that I don't overfit the application. I do really like to try out various machine learning algorithms for a given dataset."
        }
      ],
      DataScienceInterests: [
        {
          value:
            "Machine Learning, Distributed Systems, Exploratory Data Analysis, Deep Learning, Data Visualization"
        }
      ],
      skillSet: [
        { area: "Python", initLevel: 0, level: 95 },
        { area: "SQL", initLevel: 0, level: 90 },
        { area: "PySpark", initLevel: 0, level: 80 },
        { area: "Java", initLevel: 0, level: 80 },
        { area: "GIT", initLevel: 0, level: 85 },
        { area: "AWS, Azure, GCP", initLevel: 0, level: 80 },
        { area: "Javascript, Vue.JS", initLevel: 0, level: 85 },
        { area: "HTML5", initLevel: 0, level: 90 },
        { area: "CSS3", initLevel: 0, level: 80 },
        { area: "C/C++", initLevel: 0, level: 70 },
        { area: "Machine Learning", initLevel: 0, level: 85 },
        { area: "Programming", initLevel: 0, level: 90 },
        { area: "Data Structures", initLevel: 0, level: 80 }
      ]
    };
  },
  mounted: function() {
    this.intervalID = setInterval(() => {
      this.getLevelProgress(this.increment);
    }, 10);
  },
  methods: {
    getLevelProgress: function(value) {
      this.skillSet.forEach(data => {
        data.initLevel = Math.min(
          Math.floor(data.initLevel + value),
          data.level
        );
      });
    }
  },
  beforeDestroy: function() {
    clearInterval(this.intervalID);
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Montserrat");
$font-stack: Montserrat, sans-serif;
$font-color: rgb(0, 0, 0);
$bg-color: #d5d5d5;
$gray-color: #696969;
$loading-color: rgb(55, 155, 236);
body {
  /*background: $bg-color;*/
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $font-stack;
  color: $font-color;
}

h1 {
  color: darken($gray-color, 25%);
}
li {
  margin: 0.5em 0 0.5em;
  border: 0.1em solid darken($loading-color, 25%);
  border-radius: 3px;
  background: lighten($loading-color, 25%);
  overflow: hidden;
  div {
    position: relative;
    height: 1.4em;
    background: $loading-color;
    font-size: 1.2em;
    label:first-child {
      position: absolute;
      left: 8px;
    }
    label:last-child {
      position: absolute;
      right: 8px;
    }
  }
}
</style>
